<div class="linking__group--fixed">
    <a 
    class="link link__P linkAnimate" 
    href="#"
    >
        <div class="circle circle__P">
            <h2>P</h2>
        </div>
        <div class="side side__P" >
            <p>Purpose Learing</p>
        </div>
    </a>


    <a 
    class="link link__A linkAnimate" 
    href="#"
    >
        <div class="circle circle__A">
            <h2>A</h2>
        </div>
        <div class="side side__A">
            <p>Active Learing</p>
        </div>   
    </a>


    <a 
    class="link link__C linkAnimate" 
    href="#"
    >
        <div class="circle circle__C">
            <h2>C</h2>
        </div>
        <div class="side side__C">
            <p>Competence Learing</p>
        </div>   
    </a>


    <a 
    class="link link__E linkAnimate" 
    href="#"
    >
        <div class="circle circle__E">
            <h2>E</h2>
        </div>
        <div class="side side__E">
            <p>Enterprise Collaboration</p>
        </div>  
    </a>


    <a 
    class="link link__D linkAnimate" 
    href="#"
    >
        <div class="circle circle__D">
            <h2>D</h2>
        </div>
        <div class="side side__D">
            <p>Diversity</p> 
        </div> 
    </a>
    
</div>
