<div class="footer__Wrapper">
  <div class="footer__inner">

    <picture class="footer__inner--photo">      
      <source>     
      <source>      
      <img  class="schoolLogo" src="./images/img/LOGO-Footer.png" alt="">  
    </picture>

    <p class="footer__inner--notice"
    >若您對系統有疑問或建議，請洽下列連結窗口。</p>

    <div class="footer__inner--teacher">
      <h2>教務處 : 黃千倚 02-27361661轉2101 <h2><span>/</span>  
      <h2>學務處 : 黃昭文 02-27361661轉2210 </h2><span>/</span>   
      <h2>資訊處 : 王界智 02-66382736轉1606</h2>
    </div>

    <p class="footer__inner--copyright"
    >Copyright © 2022 臺北醫學大學 Taipei Medical University</p>

  </div>
</div>


<!-- to top -->
{{!-- <button class="to-top__icon" id="gotop">
  <i class="i-arrow5-up"></i>
</button> --}}