<div>

    <div class="header__wrapper">

      <div class="header_logo">
        <picture class="header_logo_mobile">
          <source>
          <source>
          <img src="./images/img/LOGO-M.png"></img>
        </picture>
        <div class="header_logo_mobile_2_wrapper">
          <picture class="header_logo_mobile_2">
            <source>
            <source>
            <img src="./images/img/LOGO-M-2.png"></img>
          </picture>
        </div>
      </div>


      <picture class="header_img_right">
        <source>
        <source>
        <img src="./images/img/LOGO-PC.png"></img>
      </picture>

      <nav class="nav-outer" 
      >
        <a 
          class="nav-outer__link  nav-outer__link--active"
          data-tab="drop_down_1" 
        >
          個人常用功能
        </a>
        <nav 
          class="nav-inner slider--frugal-style"
          data-tab="drop_down_1" 
        >
          <div class="splide__track"
          >
            <div class="splide__list"
            >
              <a class="nav-inner__link  nav-inner__link--active splide__slide"
                 data-direction="direction_1"
              >
              個人常用功能</a>
            </div>
          </div>
        </nav>

        <a 
          class="nav-outer__link"
          data-tab="drop_down_2" 
        >
          Today
        </a>
        <nav 
          class="nav-inner slider--frugal-style"
          data-tab="drop_down_2" 
        >
          <div class="splide__track"
          >
            <div class="splide__list"
            >
              <a class="nav-inner__link  nav-inner__link--active splide__slide"
                 data-direction="direction_2"
              >
              Today</a>
            </div>
          </div>
        </nav>

        <a 
          class="nav-outer__link"
          data-tab="drop_down_3" 
        >
          修業狀況
        </a>
        <nav 
          class="nav-inner slider--frugal-style"
          data-tab="drop_down_3" 
        >
        <div class="splide__track"
        >
          <div class="splide__list"
          >
          
            <a class="nav-inner__link  nav-inner__link--active splide__slide"
               data-direction="direction_3"
            >
            專業學分</a>
            <a class="nav-inner__link splide__slide"
               data-direction="direction_4"
            >
            通識學分</a>
            <a class="nav-inner__link splide__slide"
              data-direction="direction_5"
            >
            畢業資格</a>
            <a class="nav-inner__link splide__slide"
              data-direction="direction_6"
            >
            基礎服學</a>
            <a class="nav-inner__link splide__slide"
              data-direction="direction_7"
            >
            語文檢定</a>
            <a class="nav-inner__link splide__slide"
              data-direction="direction_8"
            >
            游泳檢定</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_9"
            >
            體育必修學分</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_10"
            >
            輔/雙</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_11"
            >
            學分學程/微學程</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_12"
            >
            學習預警</a>

          </div>
        </div>
        </nav>

      <a 
        class="nav-outer__link"
        data-tab="drop_down_4" 
      >
        學習發展
      </a>
      <nav 
        class="nav-inner slider--frugal-style"
        data-tab="drop_down_4" 
      >
        <div class="splide__track"
        >
          <div class="splide__list"
          >
            <a class="nav-inner__link  nav-inner__link--active splide__slide"
            data-direction="direction_13"
            >
            EMI學習</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_14"
            >
            重點領域</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_15"
            >
            (產業)見實習</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_16"
            >
            設計思考</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_17"
            >
            自主學習</a>
          </div>
        </div>
      </nav>


      <a 
        class="nav-outer__link"
        data-tab="drop_down_5" 
      >
        課外學習
      </a>
      <nav 
        class="nav-inner slider--frugal-style"
        data-tab="drop_down_5" 
      >
        <div class="splide__track"
        >
          <div class="splide__list"
          >
            <a class="nav-inner__link  nav-inner__link--active splide__slide"
            data-direction="direction_18"
            >
            社團參與</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_19"
            >
            領導知能</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_20"
            >
            社會服務/社區服務</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_21"
            >
            校外學習/研習</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_22"
            >
            安全教育</a>
          </div>
        </div>
      </nav>

      <a 
        class="nav-outer__link"
        data-tab="drop_down_6" 
      >
        能力指標
      </a>
      <nav 
        class="nav-inner slider--frugal-style"
        data-tab="drop_down_6" 
      >
        <div class="splide__track"
        >
          <div class="splide__list"
          >
            <a class="nav-inner__link  nav-inner__link--active splide__slide"
            data-direction="direction_23"
            >
            專業核心能力</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_24"
            >
            必修核心能力</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_25"
            >
            選修核心能力</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_26"
            >
            通識核心能力</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_27"
            >
            跨域核心能力</a>
            <a class="nav-inner__link splide__slide"
            data-direction="direction_28"
            >
            12項就業能力</a>
          </div>
        </div>
      </nav>

      <a 
        class="nav-outer__link"
        data-tab="drop_down_7" 
      >
        個人專屬雲
      </a>
      <nav 
        class="nav-inner slider--frugal-style"
        data-tab="drop_down_7" 
      >
        <div class="splide__track"
        >
          <div class="splide__list"
          >
            <a class="nav-inner__link  nav-inner__link--active splide__slide"
            data-direction="direction_29"
            >
            個人履歷</a>
          </div>
        </div>
      </nav>

      <a 
        class="nav-outer__link"
        data-tab="drop_down_8" 
      >
        資源連結
      </a>
      <nav 
        class="nav-inner slider--frugal-style"
        data-tab="drop_down_8" 
      >
        <div class="splide__track"
        >
          <div class="splide__list"
          >
            <a class="nav-inner__link  nav-inner__link--active splide__slide"
            data-direction="direction_30"
            >
            資源連結</a>
          </div>
        </div>
      </nav>

        <div class="burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </div>
</div>

