<!DOCTYPE html>
<html lang="en">
<head>
  {{> components/basicUse/head-content }}
  <title>首頁</title>
</head>
<body>
  <header class="header">
    {{> components/basicUse/header }}
  </header>

  {{>components/basicUse/fixedGroup}}

  <!-- 主內容 -->
  <main class="page index-page">
    <div class="container"
    >
    <p>內容 content</p>
    </div>
  </main>

<footer class="footer">
  {{> components/basicUse/footer }}
</footer>

</body>

<script>
</script>
</html>
